body {

  font-family: Arial, Helvetica, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

                                                        /* 頂端導航 */
#navbar {
  overflow hidden;
  background-color: #A7D2CB;
  position: fixed; 
  top: 0; /*navbar at the top of the page */
  width: 100%;
  z-index:30;
  border-bottom:1px #C0C0C0 solid;
  
}
#navbar a { /* 導航連結 */
  float:left;
  display: block;
  color:white;
  
  font-size:20px;
  padding 20px;
  text-decoration: none;
  
}
#navbar a:hover {
  background-color:#ddd;
  color: black;
  text-decoration: none;
}

                                    /*登入登出*/
.a
{   
float:right;
position:relative;
right:356px;
font-family: 微軟正黑體;
}      
.b
{   
float:right;
position:relative;
right:137px;
font-family: 微軟正黑體;
} 
.c
{   
float:right;
position:relative;
right:-30px;

font-family: 微軟正黑體;
}

.d
{   
float:right;
position:relative;
right:-290px;

}  

div
{
	font-family: 微軟正黑體;
}

            
                                  
                                  /*搜索欄*/
form.example{padding: 15px;}
form.example input[type=text] { /*搜尋區塊*/
   box-sizing:border-box;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 35px;
}
form.example button {  /*搜尋圖示*/
  float: left;
  width: 20%;
  padding 10px;
  background: #A7D2CB;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  height: 35px;
}
form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.logout
	{
		position:absolute;
		left:-80px;
		color:white;
		top:17px;
		font:18px 微軟正黑體;
	}
.logout2
	{
		position:absolute;
		left:25px;
		top:16px;
		font:20px 微軟正黑體;
		width:40px;
	}
	#s
	{  position:absolute;
		max-width:190px; 
		top:-2px;
		float:right;
		right:290px;
	}

                                            /*側邊攔*/
.sidenav {
  height: 100%;
  width:0; 
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  font-family: 微軟正黑體;

}
.closebtn { /*按叉叉*/
  position absolute;
  top: 0;
  right :30px;
  font-size:bold;
  margin-left :130px;
  color:blue;
  background-color:blue;
  z-index :100;
}

.sidenav a, .dropdown-btn {
   padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition :0.3s;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
  color: black;
  background-color :white;
}

/*商品分類表(可加右縮亮背景)*/
.dropdown-container {
  display: none;
  background-color:black;
  opacity: 0.7;
  padding-left :1px;
  width :100%;
  color: white;
  overflow:hidden;
  font-family: 微軟正黑體;

}
/*往下圖標*/
.fa-caret-down {
  float: right;
  padding-right: 16px;
  padding-top:4px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
                                       
 


                                    /*Banner圖片轉換 */
.img0
{
	position:relative;
	float:left;
	left:10px;
}    
#ah a:hover
{
 background:#A7D2CB;
  
}
#ah a
{ 
background:#A7D2CB;
  
  
}
#ah a:link
{
background:#A7D2CB;
}
#ah a:vist
{
 background:#A7D2CB;

}
#ah a:hover
{
 background:#A7D2CB;
   
}
.img0 a:active
{ position:relative;
  font-size:20px;
  font-family: 微軟正黑體;
  color:#6495ED;
  z-index: 2;
  
}
.ipt input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:5px;
}
.ipt2 input[type=text],input[type=password],input[type=e-mail] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:5px;
 
}

.content02
{
color :black;
font-family: 微軟正黑體;

}
/* Set a style for all buttons */
.btn02 button {
  background-color: #A7D2CB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:10px;
  font-weight:bold;
}

label
{
 font-family: 微軟正黑體;
}
.btn02 button:hover {
  opacity: 0.8;
}


/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color:#A7D2CB;
  border:none;
  color:white;
  border-radius:10px;
  font-weight:bold;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.container {
  padding: 16px;
  border-radius:5px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10px;
}
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {

  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
 
}


/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}                   
    
 /*Banner圖片轉換 */
.carousel
{
	
	margin-top:60px;
}




                                                  /*商品分類*/
.outbox01
{
   text-align:center;
 background-color#F0E68C;
 width:100%;
 height:480px;
}                                                  
.inbox01{box-shadow: 2px 5px 9px 2px rgba(0, 0, 0, 0.2);
  position:relative; 
  height:340px;
  top:10px;
  width:70%;
  margin:0px auto;
   background-color:white;
   padding:3px 3px 3px 3px;
   text-align:center;
 }
.inbox01-s
{float:left;
 width:100px;
 max-width:100%;
 height75%;
 position:relative;
background-color#F0E68C;
 }

.me2{margin-top60px;
  margin-left20px;

  border-radius: 4px;
  background-color:#B1E2DA;
  border:none;
  color:white;
  font-size:20px;
  padding: 5px;
  height:40px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;}


.me2 span {
  cursor :pointer;
  display:inline-block;
  position: relative;
  transition: 0.5s;
}

.me2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.me2:hover span {
  padding-right: 25px;
}

.me2:hover span:after {
  opacity: 1;
  right: 0;
}


                                                  /*限時特賣*/
.inbox02{box-shadow: 2px 5px 9px 2px rgba(0, 0, 0, 0.2);
  position:relative; 
  height:300px;
  top:25px;
  width:70%;
  margin0px auto;
   background-color:white;
   padding:15px 80px 15px;}
.outbox02
{
 background-color:#F0E68C;
 width:100%;
 height:480px;
}
.inbox02pc{float:left;
 width:100px;
 position:relative;
 left:18%;
 top:1%;}

.timer{float:left;
  left:35%;
  position:relative;
top:-8%;
font-size:30px;}

#demo{font-size:50px;}



                                                /*熱銷商品*/


.card img{width:70%;
margin:auto;
 opacity: 1;
  display: block;
  height: auto;
  transition 1s ease;
  backface-visibility :hidden;
padding-top:40px;}
/**/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  
  text-align: center;
  font-family: arial;
  position:absolute;
}
.price {
  color: grey;
  font-size: 18px;
}
.card h1{font-size:25px;}
.word{font-size:17px;}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:#B1E2DA;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight:600;
  height:100%;
  margin:0px;
}
.card button:hover {
  opacity: 0.7;
}


.cardcontainer {
  position: relative;
  width: 100%;
}

.cardimage {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.cardoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#3C3C3C;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .4s ease;
  transition: .5s ease;
  opacity: 0.85;
}

.cardcontainer:hover .cardoverlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cardtext {
  color: white;
  font-size: 20px;

  position: absolute;
  width:90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
.one{position:relative;}
.hotmove { animation-duration:8s;-webkit-animation-duration:8s; -webkit-animation-fill-mode: both;animation-fill-mode: both;
      animation-name:hotmove; -webkit-animation-name:hotmove;}
    @keyframes hotmove { 
           from{
        left:-100%;
    }
    to{
        left:0%;
    }

    }
    @-webkit-keyframes hotmove { 
           from{
        left:-100%;
    }
    to{
        left:0%;
    }
    }
#hot1{animation-delay:-2s;}
#hot2{animation-delay:-3s;}
#hot3{animation-delay:-4s;}



/*回頂部*/
#gotop {
    position: fixed;


    right: 20px;
    bottom: 40px;
    padding: 10px 16px;
    font-size: 25px;
   
    cursor: pointer;
    z-index: 1000;
}

/*底部*/
.footer{margin-top:100px;
  width:100%;
  height:60px;
background:#B8DBD5;

text-align:center;

}
span.footer{padding-left:20px;
            }


