.title
{
  position:relative;
  left:70px;
  font-family: 微軟正黑體;
  font-size: 25px;
  top:120px;
  color:black;
}

 
.card01 {
   
  max-width: 200px;
  margin: auto;
  text-align: center;
  z-index:-2;
}
.card02
{

  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: 微軟正黑體;
  z-index:-2;
  border-radius: 25px;
}

.price {
  color: grey;
  font-size: 16px;
  font-weight:bold;
}

.card02 button {
  border: none;
  outline: 0;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color: #A7D2CB;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
  font-family: 微軟正黑體;
  font-weight:600;
  
}

.card01 img:hover {

  opacity: 0.5;
}
.card02 button:hover {
 color: #A7D2CB;
  background-color: white;
  border:2px solid;
}
.box1
{
 
  position: relative;
  top:120px;  
  height:400px;
  width: 100%;  
  
}
.box2
{
 
  position: relative;
  top:100px;
  height:400px;
  width: 100%;
  
}

.product01
{
float:left;
position: relative;
top:50px;
left:60px;
}

.product02
{
float:left;
position: relative;
left:240px;
top:50px;

}

.product03
{
float:left;
position: relative;
left:420px;
top:50px;
}

.product04
{
float:left;
position: relative;
left:60px;
top:20px;
}
