.content
{
	position:relative;
	left:10px;
	top:70px;
	font-family:微軟正黑體;
	font-size:25px;
}
.title
{
	position:relative;
	left:-10px;
	font-family:微軟正黑體;
	font-size:25px;

}
.box
{   position:absolute;
	float:left;
	left:250px;
	top:70px;
}
.content02
{
	position:relative;
	top:20px;
	font-family:微軟正黑體;
	font-size:17px;
	line-height:50px;
}


td
{   padding-left:55px;
	padding-right:55px;
	padding-top:5px;
	padding-bottom:5px;
	
}
.vertical-menu 
{
  width: 150px; /* Set a width if you like */
}

.vertical-menu a 
{
  background-color:#FFFAFA; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 9px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-family:微軟正黑體;
  font-size:18px;
 }

.vertical-menu a:hover 
{
  background-color: #eee;
  color: black;
   text-decoration: none; /* Dark grey background on mouse-over */
}

.vertical-menu a.active 
{
  background-color: #eee; /* Add a green color to the "active/current" link */
  color: black;
}
/*底部*/
.footer{width:100%;
  height:60px;
background:gray;
text-align:center;
position:relative;
top:500px;
}
span.footer{padding-left:20px;
            }

