.title
{
  position:relative;
  left:10px;
  font-family: 微軟正黑體;
  font-size: 25px;
  top:120px;
}
.card01 {
   
  
  border:1px #DCDCDC solid ;
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: 微軟正黑體;
  z-index:-2;


}

.price {
  color: grey;
  font-size: 16px;
}

.card01 button {
  border: none;
  outline: 0;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color: #A7D2CB;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  
}

.card01 button:hover {
  opacity: 0.7;
}
.box1
{
 
  position: relative;
  top:120px;  
  height:400px;
  width: 100%;  
  
}
.box2
{
 
  position: relative;
  top:120px;
  height:400px;
  width: 100%;
  
}
.box3
{
 
  position: relative;
  top:70px;
  height:400px;
  width: 100%; 
  
}
.box4
{
 
  position: relative;
  top:20px;
  height:400px;
  width: 100%;
  
}
.product01
{
float:left;
position: relative;
top:50px;
left:10px;
}

.product02
{
float:left;
position: relative;
left:185px;
top:50px;

}

.product03
{
float:left;
position: relative;
left:360px;
top:50px;
}

.product04
{
float:left;
position: relative;
left:10px;

}
.product05
{
float:left;
position: relative;
left:185px;

}
.product06
{
float:left;
position: relative;
left:360px;

}
.product07
{
float:left;
position: relative;
left:10px;

}
.product08
{
float:left;
position: relative;
left:185px;

}
.product09
{
float:left;
position: relative;
left:360px;

}
.product10
{
float:left;
position: relative;
left:10px;

}
.product11
{
float:left;
position: relative;
left:185px;

}
.product12
{
float:left;
position: relative;
left:360px;

}
